@{
    ViewBag.Title = "Painel";
}

<nav class="breadcrumb sl-breadcrumb">
    <a class="breadcrumb-item" href="@Url.Action("Index","Home")">Painel</a>
</nav>

<div class="sl-pagebody">
    <div class="card pd-20 pd-sm-40" style="align-items:center">

        <div class="row">
            <h1>Sistema de Informação</h1>

        </div><!-- row -->
        <div class="row" style="text-align:center">
           

            <h4>Prática Profissional</h4>
        </div><!-- row -->

    </div>
</div><!-- sl-pagebody -->
